<configuration scan="true">
    <contextName>DeliBackend</contextName>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <if condition='"${spring.profiles.active}".contains("local")'>
        <then>
            <include resource="logback/local_logback.xml"/>
        </then>
    </if>
    <if condition='"${spring.profiles.active}".contains("development")'>
        <then>
            <include resource="logback/dev_logback.xml"/>
        </then>
        <else>
            <if condition='"${spring.profiles.active}".contains("production")'>
                <then>
                    <include resource="logback/prod_logback.xml"/>
                </then>
                <else>
                    <include resource="logback/local_logback.xml"/>
                </else>
            </if>
        </else>
    </if>

</configuration>
